.orange-color{
    color: tomato;
}
section{
    display: flex;

}
.half-width{
    width: 50%;
}
h1{
    font-size: 50px;
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
}